*.xyz
*.extxyz
*.hdf5
*.ckpt
*.pt
__pycache__
*.npy
*.csv
*.log
*.pkl.gz
*.zip
*.tar
**/.ipynb_checkpoints/
*.png
*.jpg
*.jpeg
*.tiff
*.pdf

# VASP (inputs/outputs)
INCAR
POSCAR
CONTCAR
POTCAR
KPOINTS
OUTCAR
OSZICAR
XDATCAR
EIGENVAL
PROCAR
DOSCAR
CHGCAR
WAVECAR
IBZKPT
vasprun.xml*
REPORT
LOCPOT
PCDAT
ELFCAR
AECCAR0
AECCAR1
AECCAR2
DYNMAT
DISPLACECAR
FORCE_SETS
PARCHG
TMPCAR
ICONST
job.*
slurm-*.out

# VASP scratch/work directories
*_WAVECAR
*_CHGCAR
npt/
